@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

html{
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(182, 159, 97), rgb(128, 89, 24));
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0px;
    position: relative;
    height: 100vh;
}

img{
    height: 25px;
}
#TOP    {
    margin: 0.5vw 0;
    width: 17vw;
    display: block;
    transform: translateX(1.5%);
}

#left  {
    grid-column: 1;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    
}

#middle{
    grid-column: 2;
    display: flex; 
    flex-direction: column;
    text-align: center;
}

#right {
    grid-column: 3;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

#header {
    position: relative;
}

#title{
    position: relative;
    font-family: "Norse";
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: -5px;
    font-size: 5vw;
    text-align: center;
    color:rgb(236, 218, 139);
    bottom: 2vw;
    opacity: 0;
    animation: intro 2s forwards;
}

#descriptionContainer   {
    position: absolute;
    border: 0.25vw dotted white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Footer {
    display: block;
    color: white;
    font-size: 1vw;
    margin-top: 0.5vw;
}

#TOP    {
    margin: 0.5vw 0;
    width: 17vw;
    display: block;
}

@font-face {
    font-family: "Norse";
    src: url(resources/Norse.otf);
    
}

@font-face {
    font-family: "Architects_Daughter";
    src: url(resources/architectsDaughter.ttf);
}